.container {
  margin: 0 auto 10px auto;
  max-width: 500px;
  min-height: 150px;
  padding: 20px;
  border-radius: 15px;
  position: relative;
  background-color: #f1f4f8;
}

.cancelBtn {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100px;
  height: 40px;
  background-color: black;
  color: white;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  user-select: none;
  transition: background-color 200ms;
  border-color: black;
  cursor: pointer;

  &:hover {
    background-color: rgb(53, 53, 53);
  }

  &:focus {
    outline: none;
    border-color: rgb(241, 103, 98);
    background-color: rgb(241, 103, 98);
  }
}
