.sideBar {
  padding: 0 20px;
}

@media (min-width: 1000px) {
  .aside {
    flex-basis: 30%;
    min-height: 100vh;
    background-color: #fbfcfe;
  }

  .main {
    flex-grow: 1;
  }

  .container {
    display: flex;
    flex-direction: row-reverse;
  }
}
