@media (min-width: 768px) {
  .banner {
    height: 100vh;
    flex-basis: 35%;
    background-image: url("../../images/Yellow-in-Jacket9.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.svg {
  height: 100%;
  width: 100%;
  cursor: pointer;
}
