@media (min-width: 768px) {
  .aside {
    flex-basis: 65%;
    bodrer: 1px solid;
  }

  .pageWrapper {
    display: flex;
  }

  .banner {
    height: 100vh;
    flex-basis: 35%;
    background-image: url("../../images/Yellow-in-Jacket9.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .submitBtn {
    width: 50%;
  }
}

.header {
  font-size: 30px;
  margin-bottom: 20px;
}
