.success {
  background-color: #66bb6a;
}

.warning {
  background-color: #ffca28;
}

.error {
  color: #fff;
  background-color: #ef5350;
}

.alert {
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  min-height: 100px;
  width: 100vw;
  padding: 8px 28px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  user-select: none;
}

.closure {
  display: block;
  margin: 10px 0 20px 0;
  width: 80px;
  height: 4px;
  border-radius: 2px;
  background-color: #fff;
  background-color: rgba(204, 204, 204, 0.568);
  animation-delay: 300ms;
  animation: bounce 1s;
  position: relative;
}

@keyframes bounce {
  from,
  20%,
  53%,
  80%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -8px, 0);
  }

  70% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -4px, 0);
  }

  90% {
    transform: translate3d(0, -2px, 0);
  }
}

@media (min-width: 768px) {
  .closure {
    display: none;
  }

  .alert {
    justify-content: center;
  }
}
