<div
  class="dateCard"
  [ngClass]="{
    confirmed: request.confirmed,
    notConfirmed: !request.confirmed
  }"
>
  <span class="day">{{ request.date | date: "d" }}</span>
  <span class="month">{{ request.date | date: "MMMM" }}</span>
  <span class="time">{{
    request.desiredTimeForConsultation | date: "HH:mm"
  }}</span>
</div>
<p class="text">
  <span class="highlighted">Customers name:</span>
  {{ request.customersName }}
</p>
<p class="text"><span class="highlighted">Phone:</span> {{ request.phone }}</p>
<p class="text">
  <span class="highlighted">Animal:</span> {{ request.animal }}
</p>
<p class="text">
  <span class="highlighted">Status: </span>
  <span *ngIf="request.confirmed; else notConfirmed"
    >Confirmed by @{{ request.docId }}</span
  >
  <ng-template #notConfirmed>
    <span>Waiting for confirmation</span>
  </ng-template>
</p>

<div class="smallTalk">
  <p
    class="message"
    [class.from-user]="!convertForDoc"
    [class.from-doc]="convertForDoc"
  >
    {{ request.comments }}
  </p>
  <p
    *ngIf="request.confirmed"
    class="message"
    [class.from-user]="convertForDoc"
    [class.from-doc]="!convertForDoc"
  >
    {{ request.docAnswer }}
  </p>
</div>
