.text {
  font-style: 16px;
  margin-bottom: 20px;
}

.highlightedText {
  background-color: rgba(228, 228, 141, 0.726);
}

.subTitle {
    font-style: 24px;
    margin-bottom: 24px;
}

.pageContainer {
    max-width: 500px;
    margin: 0 auto;
}

.list {
    list-style: none;
}