<div class="mainContainer pageContainer">
  <h1>Hello everyone!</h1>

  <h3 class="subTitle">
    Here area some tips to start using app. And short description about project
  </h3>

  <p class="text">
    The application is developed using Angular 10 for a veterinary clinic.
    Firebase service was selected as backend and database.
  </p>

  <span class="highlightedText text"
    >There are 3 roles (access levels) in app</span
  >

  <ul class="text list">
    <li>
      - doctor (to create an account use example<span class="highlightedText"
        >@doc</span
      >.com)
    </li>
    <li>
      - admin (to create an account use example<span class="highlightedText"
        >@admin</span
      >.com)
    </li>
    <li>- user (to create this one use any another domain)</li>
  </ul>

  <p class="text">
    Closing notifications with a swipe down on a mobile device are implemented
    using rxjs , or they disappear automatically with time delay. All routes are
    protected depending on the user's role. On the home page, the user can
    easily create an application (in case of lack of authentication, all entered
    data will be saved and user will be redirected to the login page) The user
    can check all created requests and their status in his/her account. There is
    also the opportunity to cancel the request, or get information about the
    doctor who confirmed the request.
  </p>

  <p class="text">
    The doctor in his/her account sees all new unconfirmed requests from users.
    The doctor can accept the request if the time specified in them is
    acceptable to his/her schedule. The doctor can also add information about
    himself, phone number, and photo that will be uploaded from the Instagram
    API after doc type Instagram nickname. Also, a store with goods for animals
    has been created on the clinic's website. Store has comfortable searching
    and filtration of goods. The number of available products depends on the
    quantity of goods on the backend and the quantity of them in the cart, which
    increases the UX. Also, for better UX, on the shopping cart page, the user
    can add goods and also delete products if their number becomes less than
    one. The total amount is recalculated automatically. The administrator can
    edit products and add them with live preview.
  </p>
</div>
