<div class="pageWrapper">
  <div class="banner"></div>

  <div class="aside mainContainer">
    <form class="loginForm" [formGroup]="form" (ngSubmit)="submit()">
      <h2 class="header">Sign in to Pets Service App</h2>
      <p class="primaryLabel">Email Address</p>
      <input class="primaryInput" formControlName="email" type="text" />
      <p class="primaryLabel">Password</p>
      <input class="primaryInput" formControlName="password" type="password" />
      <button class="submitBtn" type="submit">Login</button>
      <p>Not a member? <a routerLink="/sign_up">Sign up now</a></p>
    </form>
  </div>
</div>
