* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #ffffff;
  color: #0a1429;
}

.loginForm {
  max-width: 450px;
}

.sectionTitle {
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: 600;
}

.primaryInput {
  margin: 0 0 20px 0;
  width: 100%;
  display: block;
  border: 1px solid transparent;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding: 10px 16px;
  outline: none;
  border-radius: 8px;
  color: #0d0c22;
  background-color: #f1f1f3;
  transition: background-color 200ms ease, outline 200ms ease, color 200ms ease,
    box-shadow 200ms ease;

  &:hover,
  &:focus {
    background-color: #ffffff;
    border-color: rgba(234, 76, 137, 0.4);
    box-shadow: 0 0 0 4px rgba(234, 76, 137, 0.1);
  }

  &.ng-invalid.ng-touched {
    box-shadow: 0 0 0 4px rgba(231, 59, 59, 0.178);
  }

  &.ng-valid.ng-touched {
    box-shadow: 0 0 0 4px rgba(59, 231, 136, 0.178);
  }

  &::placeholder {
    color: rgb(176, 176, 176);
  }
}

.primaryLabel {
  margin: 0 0 8px 0;
  font-weight: 600;
  font-size: 18px;
}

.primarySelect {
  text-align: center;
  padding: 10px 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 0 40px 20px 0;
  border-radius: 10px;
  border: none;
  background-color: #f3f3f4;
  color: rgb(176, 176, 176);
  cursor: pointer;
  transition: background-color 200ms ease, outline 200ms ease, color 200ms ease,
    box-shadow 200ms ease;

  &:hover,
  &:focus {
    outline: none;
    background-color: #ffffff;
    border-color: rgba(234, 76, 137, 0.4);
    box-shadow: 0 0 0 4px rgba(234, 76, 137, 0.1);
  }

  &.ng-invalid.ng-touched {
    box-shadow: 0 0 0 4px rgba(231, 59, 59, 0.178);
  }

  &.ng-valid.ng-touched {
    box-shadow: 0 0 0 4px rgba(59, 231, 136, 0.178);
  }
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select::-ms-expand {
  display: none;
}

.submitBtn {
  background: #ea4c89;
  display: block;
  width: 100%;
  padding: 10px 16px;
  border: none;
  transition: all 200ms ease;
  border-radius: 8px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  height: 40px;
  user-select: none;
  margin-bottom: 10px;
  cursor: pointer;

  &:focus {
    outline: none;
    background: #f8609a;
  }
}

.btn {
  display: block;
  border-radius: 20px;
  padding: 12px 24px;
  border-color: transparent;
  background-color: transparent;
  cursor: pointer;
  user-select: none;
  margin: 0 10px;

  :focus {
    outline: none;
  }
}

.fullSizeBtn {
  display: block;
  border-radius: 20px;
  padding: 12px 22px;
  border-color: transparent;
  cursor: pointer;
  user-select: none;
  width: 100%;
  margin-bottom: 40px;
}

.blackBtn {
  border-color: black;
  background-color: black;
  color: rgb(226, 222, 222);
}

.greenBtn {
  background-color: rgb(73, 211, 146);
  color: rgb(43, 41, 41);
}

.whiteBtn {
  background-color: #ffffff;
  color: rgb(43, 41, 41);
  border: 1px solid #000000;
}

.blueBtn {
  background-color: rgb(96, 96, 247);
  color: white;
}

.mainContainer {
  padding: 0 10px;
}

.backdrop {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(24, 24, 24, 0.61);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: #f1f4f8;
  padding: 20px;
  width: 80%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.controlGroup {
  display: flex;
  align-self: stretch;
  justify-content: space-between;
  flex-basis: 100px;
  align-items: center;
  border: 2px solid #e4e2e2;
  border-radius: 20px;
}

.controlBtn {
  height: 30px;
  width: 30px;
  border: none;
  background-color: transparent;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}
