<p>home-page works!</p>
<button *ngIf="!auth.isAuth()" [routerLink]="['/login']">Login</button>
<button *ngIf="!auth.isAuth()" [routerLink]="['/sign_up']">Sign up</button>
<button *ngIf="auth.isAuth()" (click)="auth.logout()">Log Out</button>

<form [formGroup]="form" (ngSubmit)="submit()">
  <h2>Book a doctor`s consultation.</h2>
  <input formControlName="customersName" type="text" placeholder="name" />

  <p>Pick any one</p>
  <label for="dog">Dogs</label>
  <input
    formControlName="animal"
    type="radio"
    name="animal"
    id="dog"
    value="dog"
  />
  <label for="cat">Cats</label>
  <input
    formControlName="animal"
    type="radio"
    name="animal"
    id="cat"
    value="cat"
  />
  <label for="other">Other pets</label>
  <input
    formControlName="animal"
    type="radio"
    name="animal"
    id="other"
    value="other"
  />

  <p>Select Date</p>
  <div *ngFor="let date of dateValiants">
    <label [for]="date">{{date | date}}</label>
    <input
      formControlName="date"
      type="radio"
      name="date"
      [id]="date"
      [value]="date"
    />
  </div>

  <input formControlName="comments" type="text" placeholder="any comments?" />

  <button type="submit">Book Now</button>
</form>
