.menu {
  margin: 20px 0;
}

.menuHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menuSvg {
  display: block;
  width: 30px;
  height: 30px;
}

.authContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
